In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
mydataset = {
  'sites': ["Google", "Runoob", "Wiki"],
  'number': [1, 2, 3]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    sites  number
0  Google       1
1  Runoob       2
2    Wiki       3

In [4]:
a = [1, 2, 3]

myvar = pd.Series(a)

print(myvar)

0    1
1    2
2    3
dtype: int64

In [5]:
data = [['Google',10],['Runoob',12],['Wiki',13]]

df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)

print(df)

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0

/tmp/ipykernel_791/119532216.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)

In [6]:
data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 13]}

df = pd.DataFrame(data)

print (df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13

In [7]:
nme = ["Google", "Runoob", "Taobao", "Wiki"]
st = ["www.google.com", "www.runoob.com", "www.taobao.com", "www.wikipedia.org"]
ag = [90, 40, 80, 98]
   
dict = {'name': nme, 'site': st, 'age': ag}
     
df = pd.DataFrame(dict)

df.to_csv('site.csv')

In [8]:
df = pd.read_csv('site.csv')
df

   Unnamed: 0    name               site  age
0           0  Google     www.google.com   90
1           1  Runoob     www.runoob.com   40
2           2  Taobao     www.taobao.com   80
3           3    Wiki  www.wikipedia.org   98

In [9]:
df.head(1)

   Unnamed: 0    name            site  age
0           0  Google  www.google.com   90

In [10]:
df.tail(1)

   Unnamed: 0  name               site  age
3           3  Wiki  www.wikipedia.org   98

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   name        4 non-null      object
 2   site        4 non-null      object
 3   age         4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [12]:
df = pd.read_json('sites.json')
df

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [13]:
data =[
    {
      "id": "A001",
      "name": "菜鸟教程",
      "url": "www.runoob.com",
      "likes": 61
    },
    {
      "id": "A002",
      "name": "Google",
      "url": "www.google.com",
      "likes": 124
    },
    {
      "id": "A003",
      "name": "淘宝",
      "url": "www.taobao.com",
      "likes": 45
    }
]
df = pd.DataFrame(data)
df

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [15]:
df.dropna()

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45

In [16]:
df.fillna(12345)

     id    name             url  likes
0  A001    菜鸟教程  www.runoob.com     61
1  A002  Google  www.google.com    124
2  A003      淘宝  www.taobao.com     45